
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #161a1d ;
    font-family:'Merienda', cursive ;
}

h1{
    color: #bb3e03;
    font-family: 'Merienda', cursive;
}
h2{
    color: #bb3e03;
    font-size: 3.5rem;
    font-family: 'Merienda', cursive;
}
p{
    color: beige;
    font-size: 2rem;
    font-family: 'Merienda', cursive;
}
h3{
    color: #bb3e03;
    font-size: 2.5rem;
    font-family: 'Merienda', cursive;
}
h4{
    font-size: 1.5rem;
}
/*header*/
.contenedor{
    background-image: url("../fotos/portada6.jpg");
    max-width: 100%;
    height: 62.5rem;
    background-size: cover;
}
.padre-header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top ,#000000c0,#1f2421);
    height: 8rem;
}

.navegacion li{
    list-style-type: none;
    margin-right: 2.5rem;
}
.navegacion a{
    text-decoration: none;
    color: #bb3e03;
}
.navegacion :hover{
    background-color: rgba(0, 0, 0, 0.76);
    background-size: cover;
    transition: 0.8s ease-out;
    border-radius: 0.8rem;
}
.texto-inicio{
    display: flex;
    justify-content: start;
    margin-left: 1rem;
}

.navegacion{
    display: flex;
    margin-top:  2rem;
    font-size: 2rem;
}
.texto-inicio h2{
    font-size:2rem;
}

main{
    display: flex;
    justify-content: center;
}
.texto-principal h1{
    margin-top: 11rem;
    font-size: 6rem;

    animation:bounce;
    animation-duration: 2s;
}

/*Nosotros*/
.nosotros , .fabricacion, h2{
    text-align: center;
    padding: 1rem 0rem 0.5rem 0rem;
    
}
.nosotros p{
    text-align: center;
    margin-top: 1rem;
}

.staff{
    display: flex;
    justify-content: space-evenly ;
    height: 9rem;
}
.staff img{
    border-radius: 50%;
}
.fabricacion p{
    padding: 0rem 0rem 1.5rem; 
}
.fabricacion-img{
    display: flex;
    justify-content: space-evenly;
    
}
.fabricacion-img img{
    height: 17rem;
    width: 17rem;
    margin-bottom: 1rem;
}


.img{
    background-image: url("../fotos/nosotros_portada.jpg");
    background-repeat: none;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
    background-color: #161a1da6;
}


/*MENU*/
.seccion-pintas{
    display: flex;
}
.seccion-pintas h3{
    margin-left: 1rem;
}
.seccion-pintas p{
    margin-left: 1.2rem;
    margin: 1rem 1rem;
}
.seccion-pintas img{
    height: 17rem;
    width: 17rem;
    margin: 1.5rem 1.5rem;
}
.seccion-pintas{
    margin: 2.5rem 2.5rem;
}

.menu-fondo{
    background-image: url('../fotos/menu3.jpg');
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    overflow: hidden;
}
.pintas{
    display: grid;
    grid-template-areas: 
    "texot1 texto1 texto1"
    "texto2 texto2 texto2"
    "tradicionales tradicionales tradicionales"
    "especiales especiales especiales"
    "img-especiales img-especiales img-especiales";

    grid-template-columns: repeat(3,1fr);
    margin: 2rem 2rem;
}
.menu-texto1{
    grid-area: texto1;
    display: flex;
    justify-content: space-between;
}
.menu-texto2{
    grid-area: texto2;
}

.img-tradicionales{
    grid-area: tradicionales;
    display: flex;
    justify-content: space-evenly;
}

.especiales{
    grid-area: especiales;
}
.img-especiales{
    grid-area: img-especiales;
    display: flex;
    justify-content: space-evenly;
}

.ventas h3{
    margin-left: 5rem;
}
.ventas p{
    margin: 1rem 5.2rem;
}
.ventas img{
    height: 17rem;
    width: 17rem;
    margin: 1.5rem 1.5rem;
}

.img-recarga{
    display: flex;
    justify-content: space-evenly;
}

.imagen-lata{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 2rem;
}
.img-comida{
    display: flex;
    justify-content: space-evenly;
}
/*ubicacion*/

.ubicacion-fondo{
    background-image: url('../fotos/ubicacion.jpg');
    background-repeat: none;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
}
.ubicacion-padre{
    display: grid;
    grid-template-areas: 
    "texto texto texto"
    "horario horario horario"
    "mapa mapa mapa"
    "ubicacion ubicacion ubicacion";

    grid-template-columns: repeat(3,1fr);
}
.texto1-ubicacion{
    grid-area: texto;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #bb3e03;
}
.horarios{
    grid-area: horario;
    display: flex;
    justify-content: center;
    margin: 2.5rem 2.5rem;
}
.mapa{
    grid-area: mapa;
    display: flex;
    justify-content: center;
    margin: 2rem 2rem;
}
.ubicacion{
    grid-area: ubicacion;
    display:flex;
    justify-content: end;
}
.ubicacion img{
    height: 6rem;
}
.ubicacion1 img{
    margin-left: 11rem;
}
.ubicacion2 img{
    margin-left: 6.5rem;
}
.ubicacion3 img{
    margin-left: 13rem;
}
.ubicacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

/*contacto*/

.contacto-padre{
    background-image: url('../fotos/fondocontacto.jpg');
    background-repeat: none;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
}
.contacto{
    display: flex;
    margin: 5rem 2rem;

}

.formulario{
    border: #bb3e03 0.3rem solid;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.719);
    width: 30rem;
    height: 30rem;
    font-size: 2rem;
    margin: 4rem;
}
.texto-contacto{
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 3rem 2rem;
}
.contenido{
    color: beige;
    margin: 1rem 4rem;
    text-align: center;
}
.contenido h5{
    font-size: 2rem;
}
.bton{
    display: flex;
    justify-content: center;
}

/*Footer*/
.footer{
    display: flex;
    justify-content: center ;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: beige;
    background-color: hwb(0 11% 89% / 0.6);
    
}
.redes{
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
}
.redes img{
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
}

/*Media queries*/

/*INDEX*/

@media screen and (max-width:1020px){
    .navegacion li{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:768px){
    main{
        margin: 15rem 0 0 7rem ;
    }
    .padre-header{
        flex-direction: column;
    }
    .navegacion{
        justify-content: space-around;
        
    }
    .texto-inicio {
        display: flex;
        justify-content: center;
    }
    .texto-principal h1{
        margin-top: 0;
    }
}

@media screen and (max-width:480px){
    .navegacion{
        margin-left: 1.2rem;
    }
}
/*NOSOTROS*/

@media screen and (max-width:1020px){
    #nosotros-contenido{
        margin: 2rem;
    }
    .derechos h4{
        font-size: 1rem;
    }
}

@media screen and (max-width:768px){
    .derechos h4{
        font-size: 0.9rem;
    }
}