/*Footer*/
.footer{
    display: flex;
    justify-content: center ;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: beige;
    background-color: #141619;
    
}
.redes{
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
}
.redes img{
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
}
.redes img{
    transition: all 300ms;
}
.redes img:hover{
    transform: scale(1.25);
}
.derechos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem;
}
.derechos h4{
    font-size: 1.3rem;
    margin: 0.1rem 2rem;
}