@import "variables";       

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family:$font-family;
  }
  
  h1 {
    @include color-letra;
  }
  h2 {
    @include color-letra;
    font-size: $font-size-h2;
    text-decoration: underline;
  }
  p {
    color: $color-secundario;
    font-size: $font-size-p;
    font-family: $font-family;
  }
  h3 {
    @include color-letra;
    font-size: $font-size-h3;
  }
  h4 {
    font-size: $font-size-h4;
  }