*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    
    font-family:'Merienda', cursive ;
}

h1{
    color: #bb3e03;
    font-family: 'Merienda', cursive;
}
h2{
    color: #bb3e03;
    font-size: 3.5rem;
    font-family: 'Merienda', cursive;
    text-decoration: underline;
}
p{
    color: beige;
    font-size: 2rem;
    font-family: 'Merienda', cursive;
}
h3{
    color: #bb3e03;
    font-size: 2.5rem;
    font-family: 'Merienda', cursive;
}
h4{
    font-size: 1.5rem;
}