/*GRID MENU*/
.contenedorMenu-grid{
    display: grid;
    grid-template-areas: 
    "pintas pintas pintas"
    "especiales especiales especiales"
    "comida comida comida";
    grid-template-columns: repeat(3,1fr);
    margin: 2rem 4rem;
    gap: 7rem;
}

/*GRID UBICACION*/

.ubicacion-padre{
    display: grid;
    grid-template-areas: 
    "texto texto texto"
    "horario horario horario"
    "mapa mapa mapa";

    grid-template-columns: repeat(3,1fr);
    margin: 2rem 1rem;
}