/*MENU*/


.menu-fondo{
    background-image: url('../fotos/menu3.jpg');
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    overflow: hidden;
}
.contenedorMenu-grid{
    display: grid;
    grid-template-areas: 
    "pintas pintas pintas"
    "especiales especiales especiales"
    "comida comida comida";
    grid-template-columns: repeat(3,1fr);
    margin: 2rem 4rem;
    gap: 7rem;
}
.pintas{
    grid-area: pintas;
    display: flex;
    flex-direction: column;
}
.pintas h2{
    margin-right: 4rem;
}
.pintas-especiales{
    grid-area: especiales;
    display: flex;
    flex-direction: column;
}
.comida{
    display: flex;
    grid-area: comida;
    flex-direction: column;
}
.card{
    background-color: #0c0f0a;
    box-shadow: #000000 0.3rem 0.4rem 0.1rem 0.1rem;
}
.card img{
    height: 28rem;
}

.contenedor-card{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}

.btn{
    color: #bb3e03;
    text-decoration: none
}
.btn:hover{
    text-decoration: none;
    color: beige;
}
/*ubicacion*/

.ubicacion-fondo{
    background-image: url('../fotos/ubicacion.jpg');
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    overflow: hidden;
}
.ubicacion-padre{
    display: grid;
    grid-template-areas: 
    "texto texto texto"
    "horario horario horario"
    "mapa mapa mapa";

    grid-template-columns: repeat(3,1fr);
    margin: 2rem 1rem;
}
.texto1-ubicacion{
    grid-area: texto;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #bb3e03;
    margin-top: 7rem;
}
.horarios{
    grid-area: horario;
    display: flex;
    justify-content: center;
    margin: 2.5rem 2.5rem;
}
.mapa{
    grid-area: mapa;
    display: flex;
    justify-content: center;
    margin: 2rem 2rem;
}