/*Nosotros*/
.nosotros,
.fabricacion,
h2 {
  text-align: center;
  margin: 2rem 1.3rem 0 0rem;
}
.nosotros p {
  text-align: center;
  margin-top: 1rem;
}
.imagenes-staff {
  display: flex;
  justify-content: space-around;
  margin: 4rem;
  flex-wrap: wrap;
}
.staff1 p {
  position: relative;
  font-size: 1.2rem;
  bottom: 8rem;
  left: 1.3rem;
  color: #bb3e03;
  opacity: 0;
}
.staff img {
  border-radius: 2rem;
  height: 20rem;
  width: 24rem;
  align-content: space-around;
  margin: 3rem 3rem;
}
.contenedor-staff1 {
  overflow: hidden;
}
.imagen-fabrica {
  @include flex-center;
}
.imagen-fabrica img {
  height: 30rem;
  width: 30rem;
  margin: 5rem 50rem;
  transition: all 300ms;
  border-radius: 1rem;
}
.imagen-fabrica {
  transition: all 1s;
}

.imagen-fabrica img:hover {
  transform: scale(1.25);
}
/*ANIMACION STAFF*/
.staff {
  transition: all 1s;
}
.imagenes-staff img {
  transition: all 300ms;
}
.imagenes-staff img:hover {
  transform: scale(1.25);
}
/*ANIMACION FABRICACION*/
.animate__fadeInUp {
  animation-duration: 1s;
  animation-delay: 0.1s;
}

.img {
  background-image: url("../fotos/nosotros-portada.jpg");
  @include imagen-posicion;
  background-color: #161a1da6;
}
