/*Nosotros*/

.nosotros{
  h2{
    text-align: center;
    margin: 11rem 1.3rem 0 0rem;
  }
}
.nosotros  {
  p{
    text-align: center;
    margin-top: 1rem;
  }
}
.staff {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  img{
    border-radius: 2rem;
    height: 20rem;
    width: 24rem;
    margin: 3rem 3rem;
    transition: all 300ms;
    cursor: pointer;
  }

  img:hover{
    transform: scale(1.25);
  }
}

.staff1 {
    p{
      position: relative;
      font-size: 1.2rem;
      bottom: 8rem;
      left: 1.3rem;
      color: #bb3e03;
      opacity: 0;
    }
}

.contenedor-staff1 {
  overflow: hidden;
}
.fabricacion{
  @extend .nosotros ;
}
.imagen-fabrica {
  @include flex-center;
}
.imagen-fabrica  {
    img{
  height: 30rem;
  width: 30rem;
  margin: 5rem 50rem;
  transition: all 300ms;
  border-radius: 1rem;
  }
  transition: all 1s;
  cursor: pointer;
  img:hover{
    transform: scale(1.25);
  }
}


.img {
  background-image: url("../fotos/nosotros-portada.jpg");
  @include imagen-posicion;
  background-color: #161a1da6;
}