$font-family: 'Merienda', cursive;
$color-principal: #bb3e03;
$color-secundario:beige;
$font-size-h2:3.5rem;
$font-size-h3:2.5rem;
$font-size-h4:1.5rem;
$font-size-p:2rem;

/*MIXINS*/

@mixin centrado{
    display: flex;
    justify-content: center;
}

@mixin color-letra{
    color: #bb3e03;
    font-family: "Merienda", cursive;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
}

@mixin imagen-posicion{
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    overflow: hidden;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}


